version: '3.9'

services:
  postgres:
    image: postgres:16-alpine
    container_name: sifm-postgres
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456
      POSTGRES_DB: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./docker/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "5432:5432"

  backend:
    build: .
    container_name: sifm-backend
    restart: always
    environment:
      DATABASE_URL: postgresql://postgres:123456@postgres:5432/sifm
      JWT_SECRET: supersecreto123456789
    ports:
      - "5000:5000"
    depends_on:
      - postgres
    volumes:
      - .:/app
      - /app/node_modules

volumes:
  postgres_data: